.hair__about__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    @media (max-width: 992px) {
        gap: 12px;
    }
    @media (max-width: 500px) {
        padding-top: 28px;
    }
}
