$purple:#4245D7;
$blue: #429FD7;
$green: #67CFB8;
$white: #fff;
$white-secondary: #fafafa;
$button-color: #67C7CF;
$text-black: #303030;
$black: #000000;
$gray: #404040;

$font-1: 'Montserrat', sans-serif;
$font-2: 'Montserrat Alternates', sans-serif;
$font-3: "Manrope", sans-serif;
