.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  color: #fff; // вместо $white
  border-radius: 60px;
  padding: 25px 35px 45px 35px;
  max-width: 263px;
  white-space: nowrap;
  box-shadow: 2px 2px 20px 12px rgba(192, 217, 233, 0.6);

  &.label_shadowWhite {
    box-shadow: 1px 1px 16px 4px rgba(192, 217, 233, 0.4);
  }

  &.label_colorGray {
    color: gray; // вместо $gray
  }

  &.label_maxWidthAuto {
    max-width: none;
  }

  @media (max-width: 1440px) {
    max-width: 100%;
    padding: 25px 45px 45px 25px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 12px;
  }

  @media (max-width: 500px) {
    max-width: 100%;
    
  }

  &__price {
    font-size: 60px;
    font-weight: 700;
    line-height: 84px;

    &.label__price_small {
      font-size: 52px;
      line-height: 72.8px;

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 56px;
    }

    @media (max-width: 500px) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__text {
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
    }

    @media (max-width: 500px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
