.services {
  &__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-width: 0;

    @media (max-width: 1440px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}


// .services {
//     &__wrapper {
//         margin-top: 40px;
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: 20px;

//         @media (max-width: 1440px) {
//             grid-template-columns: 1fr 1fr;
//         }
//         @media (max-width:768px) {
//             grid-template-columns: 1fr;
//         }
//     }
// }
